.navbar {
    display: flex;
    align-items: center;
    height: 9rem;
    justify-content: space-around;
    background-image: url("https://i.imgur.com/wy5b0vg.jpg?3");
    background-size: cover;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.navbar h1 {
    font-family: 'Lacquer', sans-serif;
    font-size: 3rem;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin: 1rem;
}

.navbar a:hover {
    color: #DEFFFC;
    text-shadow: 1px 1px 1px #DEFFFC;
}

.navbar a {
    text-decoration: none;
    color: #DEFFFC;
}