.section fieldset {
    display: flex;
    flex-direction: column;
    width: 15rem;
    margin: 0 auto;
}

.section p {
    color: tomato;
    font-weight: 600;
    text-align: center;
}

.section input {
    width: 100%;
    margin: .5rem 0 .5rem 0;
    border-radius: 3px;
    height: 1.7rem;
    background-color: papayawhip;
}

.section button {
    width: 100%;
    height: 2.5rem;
    background-color: #CC92C2;
    border-radius: 20px;
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}